<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ block "title" . }}{{ if .Title }}{{ .Title }} | {{ end }}{{end }}{{ .Site.Title }}</title>
  <meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />
  <link rel="icon" type="image/png" href="/assets/favicon.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/assets/favicon.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/assets/favicon.png" sizes="96x96">
  <meta property="og:title" content="Element Sketchpad">
  <meta property="og:description" content="A Euclidean geometry sketchpad and animator.">
  <meta property="og:image" content="https://www.elementsketchpad.com/assets/images/starmorph-yellow.png">
  <meta property="og:url" content="https://www.elementsketchpad.com">
  <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
  <link rel="stylesheet" href="/assets/css/colors.css" type="text/css">
  <link rel="stylesheet" href="/assets/css/lite-yt-embed.css" type="text/css">
  <script src="/assets/js/lite-yt-embed.js"></script>
</head>
